VITE_FIREBASE_API_KEY=AIzaSyDWXuNHOc5slwlE7tHn3DTaIvuFrp9jxQ4
VITE_FIREBASE_AUTH_DOMAIN=cargo-7ae7b.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://cargo-7ae7b-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=cargo-7ae7b
VITE_FIREBASE_APP_ID=1:918986709072:web:588be403022d573528d955
VITE_ADMIN_EMAILS=smixnevertime@gmail.com,mmabou287@gmail.com